@media (min-width: 50rem) {
    .site-header {
        height: 156px;
        max-height: 156px;
        border-bottom: 1px solid #eeebee;
    }

    .main-header {
        display: flex;
        justify-content: space-between;
        height: 100px;
        background-color: #fff;
        border-bottom: 1px solid #eeebee;
    }
}

.list-bullet-none {
    list-style-type: none !important;
}

@media (min-width: 66.5rem){
    .site-nav, .site-header, .site-footer {
        width: 370px;
    }
}

.site-header {
    min-height: 100px;
}
